<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="image">
    <img src="/images/logo.jpg" alt="logo" width="400" height="300">
    </div>
    <div class="text">
        <h1>Panucci's Pizza</h1>
      </div>
</div>
    <h2>Select a pizza</h2>
   
    
    
    
    

    <table>
        <tr>
          <td>
            <div>
                <img src="/images/Bella.png" alt="Bella">
            </div>
            <div>
                <input type="radio" name="pizza" value="bella"> Bella
            </div>
          </td>

          <td>
            <div>
                <img src="/images/Margherita.png" alt="Margherita">
            </div>
            <div>
                <input type="radio" name="pizza" value="margherita"> Margherita
            </div>
          </td>

          <td>
            <div>
                <img src="/images/Marinara.png" alt="Marinara">
            </div>
            <div>
                <input type="radio" name="pizza" value="marinara"> Marinara
            </div>
          </td>

          <td>
            <div>
                <img src="/images/SpianataCalabrese.png" alt="SpianataCalabrese">
            </div>
            <div>
                <input type="radio" name="pizza" value="spianatacalabrese"> SpianataCalabrese
            </div>
          </td>

          <td>
            <div>
                <img src="/images/TrioFormaggio.png" alt="TrioFormaggio">
            </div>
            <div>
                <input type="radio" name="pizza" value="trioformaggio"> TrioFormaggio
            </div>
          </td>
         
        </tr>
        
      </table>

</body>
</html>